@page "/addAppointment"

@inject HttpClient Http

<div class="container mt-5">
    <h2>Create Appointment</h2>
    <form>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input @bind="@appointment.Date" type="date" class="form-control" id="date" required>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input @bind="@appointment.Time" type="time" class="form-control" id="time" required>
        </div>
        <div class="mb-3">
            <label for="duration" class="form-label">Duration (minutes)</label>
            <input @bind="@appointment.Duration" type="number" class="form-control" id="duration" min="5" required>
        </div>
        <button type="button" class="btn btn-primary" @onclick="async () => await addAppointment()">Create Appointment</button>
    </form>
</div>

@code {
    ISAProjekat23.Model.Domain.Appointment appointment = new ISAProjekat23.Model.Domain.Appointment();

    private async Task addAppointment()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7241/AddAppointment", appointment);
    }

}
