@page "/addAppointment"

@inject HttpClient Http
@inject IJSRuntime Js
@inject NavigationManager NavManager

<div class="container mt-5">
    <h2>Create Appointment</h2>
    <form>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input @bind="@dateOnly" type="date" class="form-control" id="date" required>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input @bind="@timeOnly" type="time" class="form-control" id="time" required>
        </div>
        <div class="mb-3">
            <label for="duration" class="form-label">Duration (minutes)</label>
            <input @bind="@appointment.Duration" type="number" class="form-control" id="duration" min="5" required>
        </div>
        <button type="button" class="btn btn-primary" @onclick="async () => await addAppointment()">Create Appointment</button>
    </form>
</div>

@code {
    DateOnly dateOnly;
    TimeOnly timeOnly;
    ISAProjekat23.Model.Domain.Appointment appointment = new ISAProjekat23.Model.Domain.Appointment();

    private async Task addAppointment()
    {
        appointment.Start = dateOnly.ToDateTime(timeOnly);
        var response = await Http.PostAsJsonAsync("https://localhost:7241/Appointment/AddAppointment", appointment);
        var resp = await response.Content.ReadFromJsonAsync<bool>();

        if (resp)
        {
            await Js.InvokeVoidAsync("alert", "Appointment added successfully!");
            NavManager.NavigateTo("/");
        }
        else
        {
            await Js.InvokeVoidAsync("alert", "There was some error adding appointment to database.");
        }

    }

}
