@page "/addReservation"

@inject HttpClient Http
@inject IJSRuntime Js
@inject NavigationManager NavManager

<div class="container mt-5">
    <h2>Create Reservation</h2>
    <form>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input @bind="@dateOnly" type="date" class="form-control" id="date" required>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input @bind="@timeOnly" type="time" class="form-control" id="time" required>
        </div>
        <div class="mb-3">
            <label for="duration" class="form-label">Duration (minutes)</label>
            <input @bind="@reservation.Duration" type="number" class="form-control" id="duration" min="5" required>
        </div>
        <button type="button" class="btn btn-primary" @onclick="async () => await addReservation()">Create Reservation</button>
    </form>
</div>

@code {
    DateOnly dateOnly;
    TimeOnly timeOnly;
    ISAProjekat23.Model.Domain.Reservation reservation = new ISAProjekat23.Model.Domain.Reservation();

    private async Task addReservation()
    {
        reservation.Start = dateOnly.ToDateTime(timeOnly);
        var response = await Http.PostAsJsonAsync("https://localhost:7241/Reservation/AddReservation", reservation);
        var resp = await response.Content.ReadFromJsonAsync<bool>();

        if (resp)
        {
            await Js.InvokeVoidAsync("alert", "Reservation added successfully!");
            NavManager.NavigateTo("/");
        }
        else
        {
            await Js.InvokeVoidAsync("alert", "There was some error adding reservation to database.");
        }

    }

}
