@page "/appointments"

<div class="container mt-5">
    <h2>Appointment Schedule</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Duration (minutes)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15/06/2023</td>
                <td>10:00</td>
                <td>30</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>16/06/2023</td>
                <td>14:30</td>
                <td>45</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>18/06/2023</td>
                <td>11:15</td>
                <td>60</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>20/06/2023</td>
                <td>09:45</td>
                <td>30</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>22/06/2023</td>
                <td>16:00</td>
                <td>45</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}
