@page "/appointments"

@using ISAProjekat23.Model.Domain;

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<PageTitle>Appointments</PageTitle>

<div class="container mt-5">
    <h2>Appointment Schedule</h2>
    <table class="table">
        <thead>
            <tr>
                <th>When</th>
                <th>Duration (minutes)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var appointment in appointments)
            {
                @if (appointment.ReservedBy == null || (appointment.ReservedBy.Id == loggedInUser?.Id))
                {
                    <tr>
                        <td>@appointment.Start</td>
                        <td>@appointment.Duration</td>
                        @if (appointment.ReservedBy == null)
                        {
                            <td><button class="btn btn-primary" @onclick="async () => await ReserveAppointment(appointment.Id)">Reserve</button></td>
                        }
                        else if (appointment.ReservedBy.Id == loggedInUser?.Id)
                        {
                            <td><button class="btn btn-danger" @onclick="async () => await CancelAppointment(appointment.Id)">Cancel</button></td>
                        }
                        
                    </tr>
                }
            }
            <!--<tr>
                <td>15/06/2023</td>
                <td>10:00</td>
                <td>30</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>16/06/2023</td>
                <td>14:30</td>
                <td>45</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>18/06/2023</td>
                <td>11:15</td>
                <td>60</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>20/06/2023</td>
                <td>09:45</td>
                <td>30</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>22/06/2023</td>
                <td>16:00</td>
                <td>45</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>-->
        </tbody>
    </table>
</div>

@code {
    private User? loggedInUser;
    private List<Appointment> appointments;

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = await LocalStorage.GetItemAsync<User>("currentUser");
        appointments = await Http.GetFromJsonAsync<List<Appointment>>("https://localhost:7241/Appointment/GetAllAppointments");
    }

    private async Task ReserveAppointment(int appointmentId)
    {
        await Http.GetFromJsonAsync<bool>($"https://localhost:7241/Appointment/ReserveAppointment?appointmentId={appointmentId}&userId={loggedInUser?.Id}");
        NavManager.NavigateTo("/appointments", true);
    }

    private async Task CancelAppointment(int appointmentId)
    {
        await Http.GetFromJsonAsync<bool>($"https://localhost:7241/Appointment/CancelAppointment?appointmentId={appointmentId}");
        NavManager.NavigateTo("/appointments", true);
    }
}
