@page "/complaint"

@using ISAProjekat23.Model.Domain;

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject HttpClient Http
@inject IJSRuntime Js
@inject NavigationManager NavManager

<div class="container mt-5">
    <h2>File a Complaint</h2>
    <form>
        <div class="mb-3">
            <label for="complaintType" class="form-label">Complaint Type</label>
            <select @bind="@complaint.ComplaintObject" class="form-select" id="complaintType" required>
                <option value="" disabled selected>Select complaint type</option>
                <option value="0">Doctor</option>
                <option value="1">Medical Center</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input @bind="@complaint.Subject" type="text" class="form-control" id="subject" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea @bind="@complaint.Description" class="form-control" id="description" rows="5" required></textarea>
        </div>
        <button type="button" class="btn btn-primary" @onclick="async () => await setComplaintUser()">Submit</button>
    </form>
</div>

@code {
    ISAProjekat23.Model.Domain.Complaint complaint = new ISAProjekat23.Model.Domain.Complaint();

    private async Task setComplaintUser()
    {
        complaint.User = await LocalStorage.GetItemAsync<User>("currentUser");
        complaint.ComplaintObject = Model.Domain.Enums.EComplaintObject.Doctor;
        var response = await Http.PostAsJsonAsync("https://localhost:7241/Complaint", complaint);
        var resp = await response.Content.ReadFromJsonAsync<bool>();

        if (resp)
        {
            await Js.InvokeVoidAsync("alert", "Complaint created successfully!");
            NavManager.NavigateTo("/");
        }
        else
        {
            await Js.InvokeVoidAsync("alert", "There was some error adding complaint to database.");
        }
    }
}
