@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container text-center mt-5">
    <h2>Welcome to Our Website</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Centers</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">History</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Appointments</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">QR Codes</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Penalties</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Surveys</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Complaints</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Profile</a>
        </div>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
