@page "/"

@using ISAProjekat23.Model.Domain;

@inherits ComponentBase

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>

<h1>WELCOME TO OUR MESS@(!name.Equals("") ? ", " + name : "")!</h1>

<h4><b>M</b>edical <b>E</b>quipment <b>S</b>hop & <b>S</b>ervice</h4>

<div class="container text-center mt-5">
    <h2>Choose one of the options below</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Centers</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">History</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Reservations</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">QR Codes</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Penalties</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Complaints</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Profile</a>
        </div>
    </div>
</div>

@code {
    string name = "";

    protected override async Task OnInitializedAsync()
    {
        var user = await LocalStorage.GetItemAsync<User>("currentUser");
        if (user != null)
        {
            name = user.FirstName;
        }
    }
}