@page "/"

@using ISAProjekat23.Model.Domain;

@inherits ComponentBase

@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Welcome to Medical center!</h1>

We treat your blood like vampires

<div class="container text-center mt-5">
    <h2>Choose one of the options below</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Centers</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">History</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Appointments</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">QR Codes</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Penalties</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Surveys</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Complaints</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-lg mb-3">Profile</a>
        </div>
    </div>
</div>

<SurveyPrompt Title="New to our medical center?" />