@page "/login"

@using ISAProjekat23.Model.Domain;
@using ISAProjekat23.Client.Services;

@inject IJSRuntime Js
@inject UserService userService;
@inject HttpClient Http
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage

<PageTitle>Login</PageTitle>

<div class="container">
    <div class="row login-form">
        <div class="col-md-6">
            <form>
                <h2 class="mb-4">Login</h2>
                <div class="mb-3">
                    <label for="text" class="form-label">Email address</label>
                    <input @bind="@loginCred.Email" type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input @bind="@loginCred.Password" type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <button type="button" class="btn btn-primary" @onclick="async () => await LoginUser()">Login</button>
            </form>
        </div>
    </div>
</div>


@code {
    private LoginCredentials loginCred = new LoginCredentials();

    public async Task LoginUser()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7241/User/Login", loginCred);
        var user = await response.Content.ReadFromJsonAsync<User?>();
        if (user != null)
        {
            await LocalStorage.SetItemAsync("currentUser", user);
            NavManager.NavigateTo("/");
        }
        else
        {
            await Js.InvokeVoidAsync("alert", "Wrong credentials or user does not exist.");
        }
    }
}
