@page "/reservations"

@using ISAProjekat23.Model.Domain;

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<PageTitle>Reservations</PageTitle>

<div class="container mt-5">
    <h2>Reservation Schedule</h2>
    <table class="table">
        <thead>
            <tr>
                <th>When</th>
                <th>Duration (minutes)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var reservation in reservations)
            {
                @if (reservation.ReservedBy == null || (reservation.ReservedBy.Id == loggedInUser?.Id))
                {
                    <tr>
                        <td>@reservation.Start</td>
                        <td>@reservation.Duration</td>
                        @if (reservation.ReservedBy == null)
                        {
                            <td><button class="btn btn-primary" @onclick="async () => await ScheduleReservation(reservation.Id)">Reserve</button></td>
                        }
                        else if (reservation.ReservedBy.Id == loggedInUser?.Id)
                        {
                            <td><button class="btn btn-danger" @onclick="async () => await CancelReservation(reservation.Id)" disabled="@IsLessThan24h(reservation.Start)">Cancel</button></td>
                        }
                        
                    </tr>
                }
            }
            <!--<tr>
                <td>15/06/2023</td>
                <td>10:00</td>
                <td>30</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>16/06/2023</td>
                <td>14:30</td>
                <td>45</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>18/06/2023</td>
                <td>11:15</td>
                <td>60</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>20/06/2023</td>
                <td>09:45</td>
                <td>30</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>
            <tr>
                <td>22/06/2023</td>
                <td>16:00</td>
                <td>45</td>
                <td><button class="btn btn-primary">Reserve</button></td>
            </tr>-->
        </tbody>
    </table>
</div>

@code {
    private User? loggedInUser;
    private List<ISAProjekat23.Model.Domain.Reservation>? reservations;

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = await LocalStorage.GetItemAsync<User>("currentUser");
        reservations = await Http.GetFromJsonAsync<List<ISAProjekat23.Model.Domain.Reservation>>("https://localhost:7241/Reservation/GetAllReservations");
    }

    private async Task ScheduleReservation(int reservationId)
    {
        await Http.GetFromJsonAsync<bool>($"https://localhost:7241/Reservation/ScheduleReservation?reservationId={reservationId}&userId={loggedInUser?.Id}");
        NavManager.NavigateTo("/reservations", true);
    }

    private async Task CancelReservation(int reservationId)
    {
        await Http.GetFromJsonAsync<bool>($"https://localhost:7241/Reservation/CancelReservation?reservationId={reservationId}");
        NavManager.NavigateTo("/reservations", true);
    }

    private bool IsLessThan24h(DateTime start)
    {
        return (start - DateTime.Now).TotalHours < 24;
    }
}
