@using ISAProjekat23.Model.Domain;
@inherits LayoutComponentBase
@inject HttpClient Http
@inject IJSRuntime Js
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <!--<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>-->
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        //var response = await Http.GetFromJsonAsync<User?>("https://localhost:7241/User/GetUser");
        //isLoggedIn = response != null;
    }
}